@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header .logo{
  position: relative;
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
}
header .navigation{
  position: relative;
  display: flex;
}
header .navigation li{
  list-style: none;
}
header .navigation li a{
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-right: 40px;
  text-decoration: none;
}
header .navigation li a:hover{
  color: #f1c40f;
}





body{
  background-image: url(background2.jpg);
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover;
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: rgb(184, 168, 168);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}
.team .team_member h1{
    color: #000000;
    font-size: 26px;
    margin-top: 50px;
    
}.team .team_member h2{
    color: #000000;
    font-size: 26px;
    margin-top: 50px;
}
.team .team_member h3{
    color: #000000;
    font-size: 26px;
    margin-top: 50px;
}
.team .team_member h4{
    color: #000000;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member h5{
  color: #000000;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: rgb(0, 0, 0);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 0ch;
  border-radius: 50%;
}